/*-----Color------
#937666
#3D3A4B
#B19994
#D3C0CD
#E3DFFF
Pick appropriate color pallet
*/

/*-------------------------------------*/
/* Setup */
/*------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------------------*/
/* Reuseable */
/*------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*------ HEADINGS ----*/
h1,
h2,
h3 {
    font-weight: 300px;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-sizing: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #937666;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*------- LINKS -----*/

a:link,
a:visited {
    color: #937666;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #937666;
    -webkit-transition: border-bottom 0.5s, color 0.25s;
    transition: border-bottom 0.5s, color 0.25s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*----------- Buttons ----------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.56s, border 0.56s, color 0.56s;
    transition: background-color 0.56s, border 0.56s, color 0.56s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #937666;
    border: 1px solid #937666;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #937666;
    color: #937666;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #937666;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #937666;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #937666;
    color: #fff;
}

/*-------------------------------------*/
/* HEADER */
/*------------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.home-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.56s;
    transition: border-bottom 0.56s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #937666;

}

/*-------------------------------------*/
/* About Section */
/*------------------------------------*/

.section-about .about-text {
    margin-bottom: 30px;
}

.section-about a,
.section-about h3 {
    margin-left: 2em;
}

.about-text {
    text-align: center;
}



/*-------------------------------------*/
/* History Section */
/*------------------------------------*/

.section-history {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.history-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-top: 15%;
    margin-left: 6.5%;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
    color: black;
}

.history-box div {
    padding: 15px;
    border-bottom: 1px solid #937666;
}

.section-history p {
    text-align: center;
    margin: 6% 0 0 0;
}

.history-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.history-box div:last-child {
    text-align: center;
    border: 0;
}

.history-box h3 {
    text-align: center;
}

/*-------------------------------------*/
/* Calendar Section */
/*------------------------------------*/

.section-event-calendar {
    color: black;
}


.section-event-calendar h2 {
    margin-bottom: 30px;
    text-align: center;
}


.section-event-calendar iframe {
    height: 600px;
    width: 700px;
    margin-left: 31%;
}

/*-------------------------------------*/
/* Discussion Section */
/*------------------------------------*/

.section-discussion {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-11.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-11.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.discussion-box {
    margin-left: 35.5%;
    margin-top: 53%;

}


/*-------------------------------------*/
/* Footer */
/*------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

#contribute-btn {
    margin-top: 6%;
    margin-left: 46.7%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* user-enter-code.html STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*-------------------------------------*/
/* Register Section */
/*------------------------------------*/

.section-register {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-4.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.box-register {
    background-image: url(img/paper-bg-one.png);
    background-image: url(img/paper-bg-one.png);
    color: black;
    margin-top: 8%;
    margin-left:35%;
    margin-right:35%;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}

#accessCode {
    text-align: center;
    margin-left: -2.7%;

}

.box-register input {
    margin-top: 3%;
    display: block;
}

.box-register p:after {
    display: block;
    height: 2px;
    background-color: #937666;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.box-register input {
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;

}

.box-register h2 {
    margin-top: 6%;
}

.box-register form {
    margin-left: 30%;
}

.box-register label {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 14.6%;
    text-align:center;
}

#submitCode {
    margin-top: 7%;
    margin-left: 1%;
}

.direct-register-howTo a {
    font-size: 80%;
    margin-left: -17%;
    margin-bottom: 20%;
}

.box-register h6 {
    margin-bottom: 10%;
}

.direct-register-howTo {
    margin-left: 46.9%;
}

.direct-register-home {
    margin-left: 46.5%;
    margin-right: 50%;
    margin-top: 5%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* user-set-password.html STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*-------------------------------------*/
/* Set Password section */
/*------------------------------------*/

.section-set-password {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-12.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-12.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.box-set-password {
    background-image: url(img/paper-bg-one.png);
    background-image: url(img/paper-bg-one.png);
    color: black;
    margin-top: 8%;
    margin-left:35%;
    margin-right:35%;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}

.box-set-password input {
    margin-bottom: 3%;
    display: block;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}

.box-set-password h2 {
    margin-top: 5%;
}

.box-set-password form {
    margin-left: 29%;
}

.box-set-password label {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align:center;
}

.box-set-password span {
    color: red;
}

.box-set-password p:after {
    display: block;
    height: 2px;
    background-color: #937666;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

#confirmPasswordStyle {
    margin-left: 9%;
}

#newPasswordStyle {
    margin-left: 12%;
}

#submitNewPass {
    margin-left: 8%;
    margin-top: 7%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* user-login.html STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*-------------------------------------*/
/* Login section */
/*------------------------------------*/

.section-user-login {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-10.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-10.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.box-login {
    background-image: url(img/paper-bg-one.png);
    background-image: url(img/paper-bg-one.png);
    color: black;
    margin-top: 5%;
    margin-left:35%;
    margin-right:35%;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}

.box-login input {
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}

.box-login h2 {
    margin-top: 5%;
}

.box-login form {
    margin-left: 65%;
}

.box-login label {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 90%;
    text-align:center;
}

#login-submit-btn {
    margin-left: 83%;
    margin-top: 40%;
}

.box-login p:after {
    display: block;
    height: 2px;
    background-color: #937666;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.direct-login-register a {
    font-size: 80%;
    margin-top: 5%;
    margin-left: 37%;
    margin-bottom: 20%;
}

.box-login h6 {
    margin-bottom: 5%;
}

.direct-login-home {
    margin-top: 5%;
    margin-left: 46.9%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* user-account-management.html STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*-------------------------------------*/
/* Account management section */
/*------------------------------------*/

.section-account-management {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/background-7.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/background-7.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}

.box-account-management {
    background-color: white;
    color: black;
    margin-top: -.5%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}


.wrapper {
    display: flex;
    align-items: stretch;
}

.section-account-management a,
.section-account-management a:hover,
.section-account-management a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#account-management-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3D3A4B;
    color: #fff;
    transition: all 0.3s;
    border-radius: 25px 0px 0px 25px;
    height: 825px;

}

#account-management-sidebar .account-management-sidebar-header {
    padding: 20px;
    background: #3D3A4B;
    border-radius: 25px 0px 0px 0px;
}

#account-management-sidebar ul.components {
    padding: 20px 0;

}

#account-management-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#account-management-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display:block;
}

#account-management-sidebar ul li a:hover{
    color: #937666;
    background: #fff;
}

#account-management-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #3D3A4B;
}

.section-account-management ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3D3A4Bff;
}

.section-account-management ul ul a.activeContent {
    background: #fff;
}

#account-management-sidebar.active{
    transition: margin-left .01s;
    margin-left: -250px;
    -webkit-transition: opacity .01s ease-in-out;
    -moz-transition: opacity .01s ease-in-out;
    -ms-transition: opacity .01s ease-in-out;
    -o-transition: opacity .01s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

#sidebarCollapse {
    visibility: hidden;
    margin-left: -105%;
    height: 50px;
    width: 50px;
}

#sidebarExpand {
    visibility: hidden;
    margin-left: -105%;
    height: 50px;
    width: 50px;
}

#sidebarExpand.activeIcon,
#sidebarCollapse.activeIcon {
    visibility: visible;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #account-management-sidebar {
        margin-left: -250px;
    }
    #account-management-sidebar.active {
        margin-left: 0;
    }
}

.content-box {
    visibility: hidden;
}

.content-box.selectedContent {
    visibility: visible;
}

.content-box p:after {
    display: block;
    height: 2px;
    background-color: #937666;
    content: " ";
    width: 200px;
    margin: 30px auto 0;
}

.activeContent {
    background: #ffffff !important;
    color: #937666;
}

/*----------*/
/* CONTENT OF ACCOUNT MANAGEMENT */
/*-----------------------------*/

#account-management-content {
    width: 75%;
}

.content-container {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}

.content-container div{
    align-items: center;
}

.content-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 10% 25% 10% 10%;
}

.content-box form{
    display: inline-block;
}

.content-box input,
.content-box select,
.content-box textarea{
    margin: auto auto 2%;
    display: block;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px #937666;
    box-shadow: 0 2px 2px #937666;
}

.content-box label{
    margin-bottom: 2%;
}

.content-box textarea{
    resize: none;
    height: 300px;
    width: 600px;
    text-align: center;
}

.stack-content {
    margin: 0px;
}

.content-box *{
    text-align:center;
    color: black;
}



/*-------------------------------------*/
/* !SELECTED - Password Settings Content! */
/*------------------------------------*/

#content-password-settings{
    visibility: hidden;
}

#content-password-settings.selectedContent {visibility: visible;}

#content-password-settings,
#content-password-settings h1 {
    color: black;
    display: flex;
    align-items: center;
}

/*-------------------------------------*/
/* !SELECTED - Grant Access Content! */
/*------------------------------------*/


/*-----------------------------------*/
/* !SELECTED - Notification Settings */
/*-----------------------------------*/

#content-notification-settings {
    visibility: hidden;
    margin-left: 100%;
}

#content-notification-settings.selectedContent {visibility: visible;}

#content-notification-settings,
#content-notification-settings h1 {
    color: black;
    display: flex;
    align-items: center;
}

/*-------------------------------------*/
/* Delete when finished */
/*------------------------------------*/

.player-options {
     margin-top: 25px;
}

.dropbtn {
  border-radius: 25px;
  background-color: rgb(18, 18, 18);
  color: white;
  margin-right: 8px;

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(18, 18, 18);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(18, 18, 18);}