<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<section class="section-user-login">
    <div class="box-login">
        <div class="row">
            <h2>Account Login</h2>
            <p class="about-text">
                Sign into your Account! <br> All Fields Required!
            </p>
        </div>
        <div class="row">
            <div class="col span-1-of-1 box" id="enter-access-code">
                <form>
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" placeholder="Sharptusk">
                    <label for="login-pass">Password</label>
                    <input id="login-pass" type="password" name="password" placeholder="password">
                    <input id="login-submit-btn" type="submit" value="Login">
                </form>
            </div>
        </div>
        <div class="row direct-login-register">
            <a href="#">Have an access code?</a>
            <h6></h6>
        </div>
    </div>
    <div class="row  direct-login-home">
        <a class="btn btn-ghost" href="/">Return Home</a>
    </div>
</section>

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About</a></li>
                <li><a href="https://worldofwarcraft.com/en-gb/wowclassic" target="_blank">Play Now</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
            </ul>
        </div>
    </div>
</footer>


</body>
</html>