<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header id="coming-soon-header">
    <nav>
        <div class="row">
            <img src="images/deviate-logo.jpg" alt="Deviate Delight Logo" class="logo">
            <ul class="main-nav">
                <li><a href="https://thedailydeviate.com/" target="_blank">Newspaper</a></li>
            </ul>
        </div>
    </nav>
    <div class="home-text-box">
        <h1>Coming Soon...</h1>
        <a class="btn btn-full" href="https://worldofwarcraft.com/en-gb/wowclassic" target="_blank">Play Now</a>
        <a class="btn btn-ghost" href="https://us.forums.blizzard.com/en/wow/c/deviate-delight/" target="_blank">Discussion</a>
    </div>
</header>

</body>
</html>