<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<section id="standalone-calendar" class="section-event-calendar">
    <div class="row">
        <h2>Event Calendar</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-1 calendar-box">
            <iframe src="https://calendar.google.com/calendar/embed?src=efevons2ojfdl48146s35bu478%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>
</body>
</html>