<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <header>
        <nav>
            <div>
                <ul class="main-nav">
                    <li><a href="#">Characters</a></li>
                    <li><a href="#">Guilds</a></li>
                    <li><a href="#">Factions</a></li>
                    <li><a href="#">Stories</a></li>
                    <li><a href="#">Event Calender</a></li>
                    <li><a href="https://thedailydeviate.com/" target="_blank">Newspaper</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <h1>Deviate Delight<br>Roleplay</h1>
        </div>
    </header>

    


</body>
</html>