<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <header>
        <nav>
            <div class="row">
                <img src="img/deviate-logo.jpg" alt="Deviate Delight Logo" class="logo">
                <ul class="main-nav">
                    <li><a href="#">History</a></li>
                    <li><a href="#">Event Calender</a></li>
                    <li><a href="https://thedailydeviate.com/" target="_blank">Newspaper</a></li>
                </ul>
            </div>
        </nav>
        <div class="home-text-box">
            <h1>Deviate Delight<br>Roleplay</h1>
            <a class="btn btn-full" href="#">About</a>
            <a class="btn btn-ghost" href="https://us.forums.blizzard.com/en/wow/c/deviate-delight/" target="_blank">Discussion</a>
        </div>
    </header>

    <section class="section-about">
        <div class="row">
            <h2>Welcome to Deviate Delight</h2>
            <p class="about-text">
                Learn more about a vibrant community of clever storytellers, cut throat killers, and fearless adventurers! Find your place in this World of Warcraft: Classic Roleplay PvP Realm.
            </p>
        </div>
        <div class="row">
            <div class="col span-1-of-4 box" id="roleplay-box">
                <h3>Roleplaying</h3>
                <p>Deviate Delight has a rich community of both casual and dedicated roleplayers.
                    You're sure to find a group to tell a story to or a friend to relax with by the fire! </p>
                <a class="btn btn-full" href="#">Browse Events</a>
            </div>
            <div class="col span-1-of-4 box">
                <h3>Guilds</h3>
                <p>Looking to raid or get involved with a smaller community? Deviate Delight has Guilds on both Factions to serve whatever niche you're looking for!</p>
                <a class="btn btn-full" href="#">Browse Guilds</a>
            </div>
            <div class="col span-1-of-4 box">
                <h3>Roleplaying</h3>
                <p>Deviate Delight has a rich community of both casual and dedicated roleplayers.
                    You're sure to find a group to tell a story to or a friend to relax with by the fire! </p>
                <a class="btn btn-full" href="#">Events</a>
            </div>
            <div class="col span-1-of-4 box">
                <h3>Roleplaying</h3>
                <p>Deviate Delight has a rich community of both casual and dedicated roleplayers.
                    You're sure to find a group to tell a story to or a friend to relax with by the fire! </p>
                <a class="btn btn-full" href="#">Events</a>
            </div>
        </div>
    </section>

    <section class="section-history">
        <div class="row">
            <h2>Explore our History</h2>
            <p class="about-text">
                Dig into the past or learn about our present by exploring the characters and stories that make up our world!
            </p>
        </div>
        <div class="row">
            <div class="col span-1-of-3 box">
                <div class="history-box">
                    <div>
                        <h3>Characters</h3>
                    </div>
                    <div>
                        <p>Read about characters you've met in
                            game or those that came before.</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-full">Browse</a>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-3 box">
                <div class="history-box">
                    <div>
                        <h3>Events</h3>
                    </div>
                    <div>
                        <p>
                            Shift through records of events that have taken place
                            in the world.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-full">Browse</a>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-3 box">
                <div class="history-box">
                    <div>
                        <h3>Stories</h3>
                    </div>
                    <div>
                        <p>
                            Read stories written by the community that summarize or expand
                            upon things that have happened in Deviate Delight
                        </p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-full">Browse</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-ghost" href="https://us.forums.blizzard.com/en/wow/c/deviate-delight/" target="_blank">Contribute</a>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                </ul>
            </div>
        </div>
    </footer>


</body>
</html>